In [1]:
import pandas as pd

In [2]:
import numpy as np

In [127]:
df=pd.read_csv("uber_rides_data.csv")

In [5]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

## 1. What is the shape of given dataset?

In [6]:
df.shape

(200000, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

## 2. How many integer columns(by default) are given in the dataset?

In [112]:
datatype_count=len(df.select_dtypes(include = ['int64']).columns)

In [113]:
datatype_count

2

In [8]:
df.columns

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

## 3. How many missing values exists in 'dropoff_longitude' column?

In [13]:
a=df['dropoff_longitude'].isnull().sum()

In [14]:
a

1

## 5. Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [115]:
df['pickup_datetime']=pd.to_datetime(df['pickup_datetime']) # syntax

## 4. What is the data type of ' pickup_datetime' feature in your data?

### before converting it was Object datatype

In [114]:
df['pickup_datetime'].dtype

datetime64[ns, UTC]

## 6. Which function can be used to remove null values from the dataframe?

In [117]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Haversine_distance
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.044594
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,1.525071
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,3.131464
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.032372
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,2.786061
...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1,0.069673
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1,1.167951
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2,7.995752
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1,2.197511
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1,3.362040

In [140]:
pip install geopy

Requirement already satisfied: geopy in c:\users\dell\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\dell\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [141]:
from geopy.distance import geodesic

In [142]:
b = b[(b['pickup_latitude'] >= -90) & (b['pickup_latitude'] <= 90)]
b = b[(b['dropoff_latitude'] >= -90) & (b['dropoff_latitude'] <= 90)]

In [143]:
def haversine_distance(row):
    pickup_coords = (row['pickup_latitude'], row['pickup_longitude'])
    dropoff_coords = (row['dropoff_latitude'], row['dropoff_longitude'])
    return geodesic(pickup_coords, dropoff_coords).miles

In [144]:
b['Haversine_distance'] = b.apply(haversine_distance, axis=1)

In [146]:
b['Haversine_distance'].max()

5457.871964202999

## 7.What is the average fare amount? Remove the null values from the dataframe to answer the following question.

In [151]:
distance_rides = b[b['Haversine_distance'] == 0.0]

In [152]:
zero_distance_rides['fare_amount'].mean()

11.585317826704578

## 8. Calculate distance between each pickup and dropoff points using Haversine formula. What is the median haversine distance between pickup and dropoff location according to the given dataset? Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

In [119]:

def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    km = 6371 * c
    return km

In [120]:

# Calculate Haversine distances for each row
df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])

# Calculate the median Haversine distance
df['haversine_distance'].median()

2.120916460215386

## 9. What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [ ]:
df['haversine_distance'].max()

In [ ]:
16409.239135313168

## 10. How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [154]:
distance_rides = b[b['Haversine_distance'] == 0.0]
count_distance_rides = len(zero_distance_rides)

In [155]:
count_distance_rides

5632

## 11. What is the mean 'fare_amount' for rides with 0 haversine distance? Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [156]:
distance_rides = b[b['Haversine_distance'] == 0.0]

In [157]:
zero_distance_rides['fare_amount'].mean()

11.585317826704578

## 12. What is the maximum 'fare_amount' for a ride?

In [125]:
df['fare_amount'].max()

499.0

## 13. What is the haversine distance between pickup and dropoff location for the costliest ride? Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [158]:

costliest_ride = b[b['fare_amount'] == b['fare_amount'].max()]

# Calculate Haversine distances for each row
haversine_distance = haversine(costliest_ride['pickup_latitude'].values[0], costliest_ride['pickup_longitude'].values[0],
                                      costliest_ride['dropoff_latitude'].values[0], costliest_ride['dropoff_longitude'].values[0])


haversine_distance

0.0007899213191009994

## 14. How many rides were recorded in the year 2014?

In [74]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [76]:
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]

In [78]:
len(rides_2014)

29968

## 15. How many rides were recorded in the first quarter of 2014?

In [80]:
first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]

In [82]:
len(first_quarter_2014)

7687

## 16. On which day of the week in September 2010, maximum rides were recorded ?

In [86]:
september_2010_rides = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

In [87]:
september_2010_rides

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Haversine_distance
23,25121708,7.7,2010-09-04 16:12:00+00:00,-73.994300,40.739512,-73.988070,40.724482,2,1.087442
85,11536406,7.7,2010-09-08 10:16:01+00:00,-73.987383,40.721255,-73.954733,40.730683,1,1.833275
87,11267091,4.5,2010-09-22 12:15:00+00:00,-73.981920,40.761172,-74.016152,40.704765,1,4.286955
126,8791172,5.3,2010-09-21 12:38:00+00:00,-73.956158,40.781593,-73.966138,40.773645,1,0.758175
129,30203807,10.5,2010-09-10 16:28:00+00:00,-73.995627,40.749295,-73.965087,40.771610,1,2.222291
...,...,...,...,...,...,...,...,...,...
199584,52152685,4.5,2010-09-02 02:07:00+00:00,-73.995380,40.721638,-73.988308,40.731667,1,0.785315
199665,44243859,8.5,2010-09-04 21:05:00+00:00,-74.001550,40.741060,-73.995810,40.739425,3,0.321690
199851,37613854,11.7,2010-09-13 14:46:00+00:00,-74.009923,40.714860,-74.007020,40.705720,1,0.648839
199862,5095334,6.9,2010-09-30 11:29:20+00:00,-73.976584,40.757000,-73.991153,40.765653,1,0.969953
199901,19337978,8.9,2010-09-22 08:19:31+00:00,-73.930492,40.761509,-73.963917,40.759702,1,1.758166

In [88]:
rides_by_day_of_week = september_2010_rides['pickup_datetime'].dt.day_name().value_counts()

In [89]:
rides_by_day_of_week

Thursday     457
Wednesday    391
Saturday     362
Friday       354
Sunday       331
Tuesday      322
Monday       265
Name: pickup_datetime, dtype: int64

In [90]:
max_rides_day = rides_by_day_of_week.idxmax()

In [91]:
max_rides_day

'Thursday'

In [92]:
max_rides_count = rides_by_day_of_week.max()

In [93]:
max_rides_count

457

In [94]:
df.columns

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'Haversine_distance'],
      dtype='object')